# Python Basics

Visit [python.org](https://www.python.org) for more details about the programming language.

## Data Types

###Numbers
* Int - integers
* Float - floating point numbers/decimals

In [ ]:
print(type(25))
print(type(25.56))

print(int(45.95))
print(float('45.789'))

<class 'int'>
<class 'float'>
45
45.789

###Strings

* Any element can be accessed by indexing.
* Reverse indexing can also be utilized.
* Strings can be sliced in any way.
* Strings can also be multiplied by a constant.
* Strings can be concatenated.

In [ ]:
name='My name is Jon Snow. I know nothing.'

#indexing
print(name[6])

#reverse indexing
print(name[-3])

#slicing
print(name[11:20:2])

#multiplication by constant
print(name*3)

#concatenation
hello='Hello everyone. '
print(hello+name)

e
n
JnSo.
My name is Jon Snow. I know nothing.My name is Jon Snow. I know nothing.My name is Jon Snow. I know nothing.
Hello everyone. My name is Jon Snow. I know nothing.

###Lists
* Can store any data type.
* Like strings, allow indexing, reverse indexing, slicing, concatenation, and multiplication.

In [ ]:
mylist=[24.5, 'Alaska', [4, 5, 'no']]

#indexing
print(mylist[1])

#reverse indexing
print(mylist[-1][2])

#concatenation
print(mylist+[45,'abcd'])

#multiplication by constant
print(mylist*2)

Alaska
no
[24.5, 'Alaska', [4, 5, 'no'], 45, 'abcd']
[24.5, 'Alaska', [4, 5, 'no'], 24.5, 'Alaska', [4, 5, 'no']]

###Dicionaries
* Elements are key-value pairs
* Unordered
* Can hold any data type

In [ ]:
mydict={'k1':123, 'k2':[0, 1, 2], 'k3':{'inside k':100}}
print(mydict['k3']['inside k'])
print(mydict.keys())
print(mydict.values())
print(mydict.items())

100
dict_keys(['k1', 'k2', 'k3'])
dict_values([123, [0, 1, 2], {'inside k': 100}])
dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'inside k': 100})])

###Tuples
* Are immutable
* Allow slicing and indexing

In [ ]:
tup=(123, 'abc', ([1, 2, 3], 'def'), 789)
print(tup[-2][1])
print(tup[1:])

def
('abc', ([1, 2, 3], 'def'), 789)

###Sets
The major difference between sets and lists is that sets contain unique elements.

In [ ]:
myset=set([1, 2, 3, 1, 'abc'])
myset

{1, 2, 3, 'abc'}

##Boolean logic

###Concepts

1. Boolean Expression
  - True/False
2. Logical Operators
  - and
  - or
  - not
3. Comparison Operators
  - equal ==
  - not equal !=
  - less than (or equal to) < and <=
  - greater than (or equal to) > and >=
4. 'in' Operator
  - used to check whether an element belongs to a list, string, dictionary or any other object.

---

Are the following problems True or False?

In [ ]:
A = True
B = False
C = False

print(A or B)
print(A and C)
print((not B and not C) or (A and B))

print(23 in range(20))
print(10 not in range(10))
print('ab' in 'gabkl')

True
False
True
False
True
True


What is the following code output?

In [ ]:
pickles = 7
oranges = 15
strawberries = 2

print(pickles > oranges)
print((pickles * strawberries) > oranges)
print(oranges != strawberries)

False
False
True

##Conditionals

In [ ]:
age=18

if age<18:
  print("You're a kid.")
elif age>60:
  print("You're a senior citizen")
else:
  print("You're an adult")

You're an adult

##Loops

###For loop

In [ ]:
mylist=list(range(10))
print(mylist)

for item in mylist:
  print(item**2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
4
9
16
25
36
49
64
81

In [1]:
# using nested for loop to print a pattern
for i in range(1,6):
  print('*'*i)

*
**
***
****
*****

###While loop

In [2]:
# while loop to print the same pattern

i=1
while(i<6):
  print('*'*i)
  i+=1

*
**
***
****
*****

##Functions

In [ ]:
#function to calculate the sum of two numbers

def sum(a, b):
  return a+b

a=int(input("Enter value of a: "))
b=int(input("Enter value of b: "))
print("Sum of the two numbers is", sum(a, b))

Enter value of a: 4
Enter value of b: 10
Sum of the two numbers is 14

In [ ]:
#function to calculate factorial of a number

def factorial(n):
  fact=1
  if n==0:
    return fact 
  for i in range(2,n+1):
    fact*=i
  return fact

n=int(input("Enter a number: "))
print("The factorial of", n, "is", factorial(n))

In [ ]:
# function to calculate factorial using recursion

def factorial_r(n):
  if n==0:
    return 1
  return n*factorial_r(n-1)

n=int(input("Enter a number: "))
print("The factorial of", n, "is", factorial_r(n))

###Homework Assignment
Create a function to find out whether a given year is a leap year or not.

In [ ]:
#write your code here

def leap_year(year):